body,html{
	background-color:#deebf7;
	height:75%;
	
}

.title {
	background-color:#10AB1C;
	height:100px;
	
	
}
.title1 {
	height:1px;
	
}
.titlefont {
	
	font-size:36px;
	color:#99FFCC;

}

.left{
background-color:#CCCCCC;
width:150px;
height:99%;
margin-top:10px;
padding-top:10px;
margin-left:20px;
padding-left:20%;
}
.center{
margin-top:20px;
margin-left:10px;
height:360px;

}
.center1{
width:100px;
height:100px;
margin-top:20px;
padding-top:10px;
}

#e1{
height:45px;
width:96px;
margin-bottom:20px;

}
.right{
width:75%;
height:500px;
margin-left:30px;
margin-top:10px;
padding-top:20px;
}
.send{

width:100%;
height:50%;
}
#sendtext{
width:75%;
height:95%;
}
#main{
height:600px;
width:20%;
background-color:#aaddFF;
padding-top:20px;
}
.item{
width:50%;
margin-left:10px;
background-color:#EDF1EF;
text-align:center;
height:30px;
line-height:30px;
color:black;
cursor:pointer;
border:1px solid rgb(232,232,232);
margin-top:20px;
}

.itemlist{
display:none;
}

.itemlist ul li{
list-style:none;
line-height:25px;
}

a{
text-decoration:none;
font-size:12px;
}

a:hover{
color:pink;
}
.welcome{
background-color:#deebf7;
}
th{
	background-color:#00FF66;
}

table{
	border:1px solid green;
	border-collapse:collapse;
}



.c2{

width:75%;
height:100%;
margin-left:50px;
padding-left:10px;
}

.acceptbox{

margin-top:15px;
}
.t1{
background-color:#B0EEED;
}
.t2{
background-color:#B0EC80;#3FEF8E
}